@import "tailwindcss";

.light {
  --bg-main: #ffffff;
  --text-main: #000000;
  --bg-card: #e6e6e9;
  --button: #1e90ff;
  --bg-inverse: #000000;
}

.dark {
  --bg-main: #000000;
  --text-main: #ffffff;
  --bg-card: #121214;
  --button: #0056d2;
  --bg-inverse: #ffffff;
}

@layer utilities {
  .bg-tm {
    background-color: var(--bg-main);
  }

  .bg-card {
    background-color: var(--bg-card);
  }

  .text-tm {
    color: var(--text-main);
  }

  .bg-btn {
    background-color: var(--button);
  }

  .bg-inv {
    background-color: var(--bg-inverse);
  }

}

